.logo {
  font-family: 'Bangers', cursive;
  font-size: 36px;
}

hr {
  height: 4px;
  background-color: #7737FF;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 