.container-register {
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px #777777;
  margin: 20px auto;
}

.btn-register {
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  padding: 20px
}

.btn-register svg {
  margin-right: 5px;
}

.btn {
  display: flex !important;
}